.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: red;
}

.box {
    background-color: beige;
    padding: 20px;
    font-size: 35px;
    color: black;
    width: 100%;
    max-width: 400px;
    text-align: center;
}